* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #1a1717;
  color: #dadada;
  font-family: "Open Sans", sans-serif;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li,
a,
button {
  font-style: bold;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

.nav {
  padding: 1.2rem 5rem;
}

.nav-main {
  list-style-type: none;
}

.nav-main li {
  display: inline-block;
  padding: 0 2rem;
}

button {
  padding: 1.3rem 5rem;
  border: none;
  font-size: 3rem;
}

.flex-row {
  padding: 1.3rem 1rem;
  margin: 1.5rem 6rem;
}

.profile {
  width: 50%;
  flex-direction: column;
}

.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  margin-top: 3rem;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
}
.icon {
  background: #212431;
}

.my-photo {
  text-align: center;
  width: 90%;
  height: 100%;
}

.image {
  text-align: center;
  width: 50%;
  margin: 3rem;
}

.information {
  width: 50%;
}

.text {
  font-size: 0.9rem;
}
.txt-properties {
  text-align: left;
  text-transform: uppercase;
  padding: 2rem 0;
}

.about {
  font-size: 2.3rem;
}
.skill {
  padding-left: 2rem;
}

.span {
  box-decoration-break: clone;
}

.text-light {
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: left;
  top: 12rem;
  right: 2rem;
  width: 60%;
}
hr {
  width: 20%;
  border-bottom: 2px solid #e4aa48;
  margin-right: 40%;
}

.dot {
  font-size: 5rem;
}

.title-properties {
  color: #e4aa48;
}
